
<!--Add By xyq Begin at 2016-11-10 -->
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>welcome</title>
<link rel="stylesheet" type="text/css" href="css/welcome.css">
</head>

<body>
	<div style="width: 100%; height: 100%">
		<div id="welcome-bg"></div>
		<div style="position: absolute; top: 91px; left: 66px">
			<p
				style="font: Arial, Helvetica, sans-serif; font-size: 48px; color: #09F;">甘肃省农村信用社</p>
			<p
				style="font: Verdana, Geneva, sans-serif; font-size: 40px; color: #09F;">对账开发平台</p>
		</div>
	</div>
</body>
</html>