@keyframes widerL {
    0%{
        width:5%;
    }
    100%{
        width:7.3%;
    }
}

@keyframes widerC {
    0%{
        width:0%;
    }
    100%{
        width:15.9%;
    }
}

@keyframes widerR {
    0%{
        width:76.8%;
    }
    100%{
        width:95%;
    }
}

.animator-left {
    -webkit-animation:widerL 1s;
    -o-animation:widerL 1s;
    animation:widerL 1s;
}

.animator-center {
    -webkit-animation:widerC 1s;
    -o-animation:widerC 1s;
    animation:widerC 1s;
}

.animator-right {
    -webkit-animation:widerR 1s;
    -o-animation:widerR 1s;
    animation:widerR 1s;
}