<!--修改密码窗口-->
	<div id="update_password_win" class="easyui-window">
		<div class="easyui-layout" fit="true">
			<div region="center" border="false"
				style="padding: 10px; background: #fff; border: 1px solid #ccc;">
				<table>
					<tr>
						<td>原密码：</td>
						<td><input id="txtOldPass" type="Password" /></td>
					</tr>
					<tr>
						<td>新密码：</td>
						<td><input id="txtNewPass" type="Password" /></td>
					</tr>
					<tr>
						<td>确认密码：</td>
						<td><input id="txtRePass" type="Password" /></td>
					</tr>
				</table>
			</div>
			<div region="south" style="text-align: right; padding: 3px;">
				<a id="update_password_ok" class="easyui-linkbutton" href="#"> 确定</a>
				<a id="update_password_cancel" class="easyui-linkbutton" href="#">取消</a>
			</div>
		</div>
	</div>