@font-face {
	font-family: 'iphonetopo';
	src: url('./fonts/PingHeiLight.eot'); /* IE9 Compat Modes */
	src: url('./fonts/PingHeiLight.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ 
		 url('./fonts/PingHeiLight.woff2') format('woff2'),
		/* Modern Browsers */ 
		 url('./fonts/PingHeiLight.woff') format('woff'),
		/* Modern Browsers */ 
		 url('./fonts/PingHeiLight.ttf') format('truetype'),
		/* Safari, Android, iOS */ 
		 url('./fonts/PingHeiLight.svg') format('svg'); /* Legacy iOS */
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: iphonetopo;
}