#project_tree {
	display: none;
}

.noSave-icon:BEFORE {
	content: "*";
	position: absolute;
	left: -5px;
	top: -5px;
	font-size: 16pt;
	color: blue;
}

#loding {
	margin: 200 auto auto auto;
	width: 200px;
	height: 200px;
}

.contextmenu {
	border: 1px solid #aaa;
	border-bottom: 0;
	background: #eee;
	position: absolute;
	list-style: none;
	margin: 0;
	padding: 0;
	display: none;
}

.contextmenu li a {
	display: block;
	padding: 10px;
	border-bottom: 1px solid #aaa;
	cursor: pointer;
}

.contextmenu li a:hover {
	background: #fff;
}

#go {
	position: absolute;
	background-color: black;
	border: 1px solid #aaa;
	width: 40px;
	height: 20px;
	margin: 7.5px;
	display: none;
	z-index: -1;
}

.toollist {
	list-style-type: none;
	margin: 0px;
	padding: 10px;
}

.toollist li {
	padding: 0px;
}

.toollist  div {
	margin: 5px;
}

.toollist  .hover {
	background: #E0ECFF;
	cursor: pointer;
}

.toollist  div * {
	width: 30px;
	height: 25px;
	line-height: 30px;
	vertical-align: middle;
}

.third_ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	display: none;
	padding-left: 20px;
}

.dblink {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	display: none;
	padding-left: 20px;
}

.cd {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	display: none;
	padding-left: 20px;
}

.toollist  .selected {
	background: #E0ECe0;
	cursor: default;
}

.in {
	display: none;
}

.panel-linkHandle {
	display: none;
	width: 16px;
	height: 16px;
	background: url("../images/link1.png");
	border-radius: 2px 2px 2px 2px;
	z-index: 9900;
	position: absolute;
	text-align: center;
}

.col {
	width: 280px;
}

.mydiv {
	position: absolute;
	left: 30%;
	top: 10%;
}

.expand {
	height: 5px;
	width: 0;
	background: #2187e7;
	border-left: 1px solid #f1f1f1;
	border-top: 1px solid #f1f1f1;
	border-right: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
	box-shadow: 0px 0px 10px 1px rgba(0, 198, 255, 0.4);
	background: #2187e7;
}

/********************************************************** �����ļ���� *************************************************/
#update_password_win table input{
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-bottom-style: groove;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
	box-shadow:0 0px 1px 1px rgb(180,180,180)  inset;
    -webkit-box-shadow:  0 0px 1px 1px rgb(180,180,180) inset ;
	position: relative;
    behavior: url('/Corc-0/views/framework/css/PIE/PIE.htc');
}

#update_password_win table input:FOCUS{
    box-shadow:0 0px 2px 2px rgb(180,180,180)  inset;
    -webkit-box-shadow: 0 0px 2px 2px rgb(180,180,180) inset ;
     behavior: url('/Corc-0/views/framework/css/PIE/PIE.htc');
}

#update_password_win table td{
	padding: 5px;
}