.stepCorrect {
	position: absolute;
	display: inline-block;
	width: 8px;
	height: 3px;
	background: green;
	line-height: 0;
	font-size: 0;
	vertical-align: middle;
	-webkit-transform: rotate(45deg);
	border-radius: 2px 2px 2px 2px;
}

.stepCorrect:after {
	content: '/';
	display: block;
	width: 12px;
	height: 3px;
	background: green;
	-webkit-transform: rotate(-90deg) translateY(30%) translateX(40%);
	border-radius: 2px 2px 2px 2px;
}

.stepError {
	position: absolute;
	display: inline-block;
	width: 13px;
	height: 3px;
	background: red;
	line-height: 0;
	font-size: 0;
	vertical-align: middle;
	-webkit-transform: rotate(45deg);
	border-radius: 2px 2px 2px 2px;
}

.stepError:after {
	content: '/';
	display: block;
	width: 13px;
	height: 3px;
	background: red;
	-webkit-transform: rotate(-90deg);
	border-radius: 2px 2px 2px 2px;
}

.nasoft-dialog {
	width: 110px;
	height: 100px;
	padding: 10px 10px;
	border: 1px double #d2ddf1;
	position: absolute;
	background-color: #daf3f2;
	opacity: 0.8;
	border-radius: 5px 5px;
	box-shadow: 2px 2px 5px #0CC;
}

.nasoft-dialog span {
	width: 0;
	height: 0;
	font-size: 0;
	overflow: hidden;
	position: absolute;
}

.nasoft-dialog span.dialog-bot {
	border-width: 20px;
	border-style: solid dashed dashed;
	border-color: #beceeb transparent transparent;
	left: 20px;
	bottom: -40px;
}

.nasoft-dialog span.dialog-top {
	border-width: 20px;
	border-style: solid dashed dashed;
	border-color: #daf3f2 transparent transparent;
	left: 20px;
	bottom: -39px;
}