
<!-- 数据处理步骤菜单 -->
<div id="node_menu_trn" style="width: 120px;">
	<div id='del_node_trn'>删除步骤</div>
	<div id='copy_node_trn'>复制步骤</div>
	<div id='cutStep_node_trn'>剪切步骤</div>
</div>
<!-- 作业处理步骤菜单 -->
<div id="node_menu_job" style="width: 120px;">
	<div id='del_node_job'>删除节点</div>
	<div id='copy_node_job'>复制节点</div>
	<div id='cutStep_node_job'>剪切节点</div>
</div>
<!-- 数据处理场景菜单 -->
<div id="scene_menu_trn" style="width: 120px;">
	<div id='pasteStep_scene_trn'>粘贴步骤</div>
</div>
<!-- 作业处理场景菜单 -->
<div id="scene_menu_job" style="width: 120px;">
	<div id='pasteStep_scene_job'>粘贴节点</div>
</div>
<!-- 数据处理连线菜单 -->
<div id="link_menu_trn" style="width: 120px;">
	<div id='del_link_trn'>删除节点连线</div>
	<div id='turn_link_trn'>翻转方向</div>
</div>
<!-- 作业处理连线菜单 -->
<div id="link_menu_job" style="width: 120px;">
	<div id='del_link_job'>删除节点连线</div>
	<div id='turn_link_job'>翻转方向</div>
</div>
