<!-- 工程目录的操作菜单 -->
<div id="project_menus" class = "easyui-menu" style="width: 120px;">
	<div id='del_project_d'>删除</div>
	<div id="project_new">
	<span>新建</span>   
        <div>   
            <div id="project_new_dir">文件夹</div>   
            <div id="project_new_file">
                <span>文件</span>
                <div>
                 <div id="new_data_tran">数据处理</div>
                 <div id="new_job_dispathc">作业处理</div>
                 <div id="new_main_ctrl">总流程控制</div>
                </div>
            </div>   
        </div>  
    </div>
	<div id='rename_project_d'>重命名</div>
</div>
<!-- s新建工程文件 -->
<div id='project_new_file_win' class="easyui-window">
		<div class="easyui-layout" fit='true'>
			<div region='center' style="padding: 10px;">
			  <table>
			    <tr>
			     <td>文件名:</td>
			     <td><input id="new_file_name" style="width: 260px"class="easyui-textbox" /></td>
			    </tr>
			    <tr>
			     <td>描述:</td>
			     <td><input id="new_file_text_name" style="width: 260px"class="easyui-textbox" /></td>
			    </tr>
			  </table>
			</div>
			<div region='south' style="padding: 10px;">
				<div style="text-align: center;">
					<a id='new_file_ok' class="easyui-linkbutton">确定</a>
				</div>
			</div>
		</div>
</div>
<!-- e新建工程文件 -->


<!-- 新建组件菜单 -->
	<div id="step_new" class="easyui-menu" style="width: 120px;">
		<div id="new_step" data-options="iconCls:'icon-add'">新建</div>
	</div>

	<div id="third_menu">
		<!-- db连接 菜单 -->
		<div id="dblink_menu" class="easyui-menu" style="width: 120px;">
			<div id="newlink" data-options="iconCls:'icon-add'">新建</div>
		</div>
		<!-- database -->
		<div id="database_menu" class="easyui-menu" style="width: 120px;">
			<div id="del_database" data-options="iconCls:'icon-remove'">删除</div>
			<div id="ed_database" data-options="iconCls:'icon-editor'">编辑</div>
		</div>
		<!-- 数据库分区菜单 -->
		<div id="dbzone_menu" class="easyui-menu" style="width: 120px;">
			<div id="dbzone" data-options="iconCls:'icon-add'">新建</div>
		</div>
	</div>