
<!-- 文件 -->
<div id="filemenu" style="width: 150px; background-color: #ffffff">
	<div>
		<span>新建</span>
		<div style="background-color: #ffffff">
			<div id="_new_project_plumbing">新建工程</div>
			<div id="_new_project_file">新建文件</div>
		</div>
	</div>
	<div id="_open_project">打开</div>
	<div id="_open_ne_set">打开最近配置</div>
	<div id="_close_project">关闭</div>
	<div id="_close_all">关闭所有</div>
	<div class="menu-sep"></div>
	<div id="_save_file">保存</div>
	<div id="_save_as">保存为</div>
	<div class="menu-sep"></div>
	<div class="menu-sep"></div>
	<div id="_export_file">导出</div>
	<div>
		<span>导入</span>
		<div style="background-color: #ffffff">
			<div id="_import_file">导入工程</div>
			<div id="_import_testfile">导入测试文件</div>
		</div>
	</div>
	<!-- 			<div id="_import_file">导入</div> -->
	<div class="menu-sep"></div>
	<div id="_log_off">注销</div>
	<div id="_quit">退出</div>
</div>
<!-- 编辑 -->
<div id="editmenu" style="width: 170px; background-color: #ffffff">
	<div id="_back">后退</div>
	<div id="_march">前进</div>
	<div class="menu-sep"></div>
	<div id="menu_cut">剪切</div>
	<div id="menu_copy">复制</div>
	<div id="menu_paste">粘贴</div>
	<div class="menu-sep"></div>
	<div id="menu_clearSelect">清除选择</div>
	<div id="menu_selectall">选择所有的步骤</div>
	<div class="menu-sep"></div>
	<!-- <div id="_set_EV">设置环境变量</div>
			<div id="_show_EV">显示环境变量</div> -->
	<div class="menu-sep"></div>
	<div id="menu_search_data">搜索工程</div>
	<!-- <div id="_show_param">配置热键</div> -->
	<div class="menu-sep"></div>
	<div id="_set">设置</div>
</div>
<!-- 视图 -->
<div id="viewmenu" style="width: 150px; background-color: #ffffff">
	<div id="_blow_up">放大</div>
	<div id="_lessen">缩小</div>
	<div id="_equal_pro">等比例</div>
	<div class="menu-sep"></div>
	<div id="_exe_result">执行结果面板</div>
</div>
<!-- 执行 -->
<div id="eventmenu" style="width: 180px; background-color: #ffffff">
	<div id="_run">运行</div>
	<!-- <div id="_run_option">Run options</div> -->
	<div id="_stop">停止</div>
	<!-- <div id="_debug">调试</div> -->
	<div id="_reset">重放</div>
	<!-- <div id="_check_out">校验</div>
			<div id="_impact">影响分析</div>
			<div id="_get_sql">获取sql</div>
			<div class="menu-sep"></div>
			<div>
				<span>显示最近一次的操作</span>
				<div style="background-color: #ffffff">
					<div id="_show_ne_im_ana">显示最近一次影响分析</div>
					<div id="_show_ne_im_res">显示最近一次影响结果</div>
					<div id="_show_ne_rv_res">显示最近一次预览结果</div>
				</div>
			</div> -->
</div>
<!-- 工具 -->
<div id="toolsmenu" style="width: 180px; background-color: #ffffff">
	<div id="_browse">数据库浏览</div>
	<div id="_create_db_con">创建数据库连接</div>
	<!-- 			<div class="menu-sep"></div> -->
	<div id="_keycode">自定义快捷键</div>
	<!-- 			<div class="menu-sep"></div> -->
	<!-- 			<div id="_options">选项</div> -->
</div>
<!-- 帮助 -->
<div id="helpmenu" style="width: 150px; background-color: #ffffff">
	<div id="_show_wel_page">欢迎页面</div>
	<div class="menu-sep"></div>
	<div id="_about">关于</div>
</div>